.threshold{
    height: 100%;
    background-image: url('./clock.png');
    background-position-y: 15vh;
    background-position-x: center;
    /* background-color: #CCC; */
    background-repeat: no-repeat;
}

.brand{
    background-image: url('./logo64.webp');
    background-position-y: 20px;
    background-position-x: 20px; 
    background-repeat: no-repeat;
}

@media screen and (max-width: 430px)  {
    .threshold{
        font-size: larger;
        margin: 0;
    }

    canvas{
        display:none !important;
    }
   
    table{
        font-size: medium !important;
    }

    
}