body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#voterKey{
  border:1px black;
}

#voterKey:invalid{
  border:2px red inset; 
}

button{
  border-radius: 0;
}

.img-preview-wrapper{
  width:100%;
  height:auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 10px;
  
}

.img-preview{
  background-position: center;
  background-size: 180px;
  background-image: url('person-vcard-fill.svg');
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 15px;
}

.img-preview.selfy{
  background-image: url('person-bounding-box.svg');
}

.confirm-txt{
  text-align: center;
}

.confirm-img{
  background-position: center;
  background-size: 180px;
  background-image: url('check2-square.svg');
  background-repeat: no-repeat;
}

.show-captcha{
  display: block;
}

.hide-captcha{
  display: none;
}

.img-preview img{
  visibility: hidden;
  width:100%;
}
.img-preview img.showing{
  visibility: visible;
}

.key-info-img{
  height: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




