
/*
color pallete - mermaid lagoon

midnight blue: #145DA0

dark blue: #0C2D48

blue: #2E8BC0

baby blue: #B1D4E0


*/



@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}




body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}


.address-check{
  display:inline;
}

.address-check input{
  padding-right: 30px;
  display: inline-block;
}

.address-check img{
  /* width: 25px;
  height: 25px;
  margin-left: -30px;
  display: inline; */
  position:absolute;
  width: 40px;
  height: 40px;
  margin-left: -42px;
  display: inline;
  margin-top: 5px;

}

.alpha-mark{
  float:right;
  color:orange;
  font-size: small;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#aZip{
  margin-left:40%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#avatarImg{
  width: 300px;
  margin-top:50px;
  margin-left:auto;
  margin-right: auto;
  display: block;
}

.banner-text{
  position:absolute;
  top: 150px;
  left: 45%;
  padding: 20px 20px;
  /* background-color: rgb(255,255,255,0.2); */
}

.bg-grey {
  background-color: #f6f6f6;
}

button{
  border-radius: 0;
}

.alt-grey{
  /* background-color: rgba(128,128,128,0.1) */

  background-color: #B1D4E0;
}

.card{
  height: 100% !important;
  margin-left:auto;
  margin-right: auto;
}



.card .card-img-top{
  padding: 0 10px;
  background-color: #282c34;
}

.centered-img{
  margin-left: auto;
  margin-right: auto;
}

.confirm-txt, .error-txt{
  text-align: center;
}

.confirm-img{
  background-position: center;
  background-size: 180px;
  background-image: url('check2-square.svg');
  background-repeat: no-repeat;
}

.error-img{
  background-position: center;
  background-size: 180px;
  background-image: url('x-square.svg');
  background-repeat: no-repeat;
}

.figure-img{
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
  margin-left:auto;
  margin-right: auto;

}


.hero-image{
  /* background-image: url("vote_here_large2.jpeg"); */

  /* Set a specific height */
  height: 472px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;

}

.hide-captcha{
  display: none;
}


.icon-brand{
  font-family: 'Roboto';
  background: #0C2D48;
  color: #fff;
}

.img-preview-wrapper{
  width:100%;
  height:auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 10px;
  
}

.img-preview{
  background-position: center;
  background-size: 180px;
  background-image: url('id_img.png');
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 15px;
  min-height:200px;

}

.img-preview.selfy{
  background-image: url('selfy_id.png');
}

.img-preview img{
  visibility: hidden;
  width:100%;
}

.img-preview img.showing{
  visibility: visible;
}

.jumbotron {
  color: #000;
  padding: 0;
  font-family: Montserrat, sans-serif;
  height: 200px;
  overflow: hidden;
}

.jumbotron img{
  opacity: 0.6;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;

}

.jumbotron-bg{
  /* background-color: rgb(88,122,185,0.6) */
  background-color: #145DA0;

}

.jumbotron-short{
  max-height: 120px;
}


.key-info-img{
  height: 32px;
}

.limit-notice{
  padding: 5px 20px;
  border-radius: 8px;
  background-color: orangered;
  color:#000;
  border-color: #282c34;
}

#modernPhone{
  width:300px;
}

.nav-link{
  color:#000 !important;
}

#registerForm label{
  font-size: large;
}

#registerForm input[type='text'], #registerForm input[type='tel'], #registerForm input[type='checkbox'], #registerForm select {
  line-height: 2rem;
  font-size: large;
}

#registerForm.invalid input[type='text']:invalid, #registerForm.invalid input[type='tel']:invalid, #registerForm.invalid input[type='checkbox']:invalid, #registerForm.invalid select:invalid{
  background-color: lightpink;
}

#registerForm.valid input[type='text']:valid, #registerForm.valid input[type='tel']:valid, #registerForm.valid input[type='checkbox']:valid, #registerForm.valid select:valid{
  background-color: palegreen;

}


.row img{
  border-radius: 5px;
}

.show-captcha{
  display: block;
}


#textHelp{
  font-weight: 500;
  color:crimson;
}
.u-vote-blade-grey{
  color:white;
}

.u-vote-description{
  margin-top:20px;
  padding-right: 2em;

}

.voter-img{
  height:300px;
  background-image: url('woman_megaphone Medium.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}




#voiceImg{
  width: 400px;
}

#voterKey{
  border:1px black;
}

#voterForm {

}

#voterKey:invalid{
  border:2px red inset; 
  background-color: lightpink;
}

#voterKey:valid{
  border:2px lightgrey; 
  background-color: lightgreen;
}


#verifyAddress{
  color: white;
}

#verifyAddress img{
  width:30px;
  height:30px;
  padding: 3px;
  margin-left: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px){
  .step-one{
    background-image: url('number-one-icon.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  .step-two{
    background-image: url('number-two-icon.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100px;
  }
}


@media screen and (max-width: 1024px){
  /* div[class^='col-']{
    padding-left:0;
    padding-right:0;
  } */
  /* div[class*='col-'] {
    margin:0;
    padding:0;
    color:red;
  } */

  #aZip{
    margin-left: 0 !important;
  }

  .step-one{
    background-image: none;
  }
  .step-two{
    background-image: none;
  }

  div {
    margin: 0;
    padding: 0;
  }
}


@media screen and (max-width:420px) {

  .banner-text{
    position:relative;
    top:20px;
    left: 0px;
  }

  
  .jumbotron{
    background-color:rgba(34, 164, 244, 0.4); ; 
  }
  /* 
  .jumbotron img{
    display: none;
  }   */

  .nav-item{
    --bs-nav-link-padding-y: 0;
  }

  .centered-img {
    padding: 0 20%;
  }
  #voiceImg{
    width: 213px;
    height: 320px;
  }
}


